/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #333;
  color: #252525;
  width: 200px;
  padding: 8px;
  overflow-y: auto;
}

.sidebar h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #5bff61;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
}

.sidebar a:hover {
  background-color: #555;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 220px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.imagen {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.boton-salida {
  background: none;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  font-family: inherit;
}

fieldset {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 2px 12px #5bff61;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

fieldset::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  z-index: -1;
}

.complementArea {
  height: 25px;
}

.area2 {
  height: 548px;
  overflow: hidden;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.btn-agregar {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  float: right;
  margin-bottom: 10px;
}

.btn-agregar:hover {
  background-color: #45a049;
}

.btn-opcion {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.btn-opcion:hover {
  color: #555;
}

.tit {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-busqueda {
  width: 30% !important;
}
